<!DOCTYPE html>
<html>
  <head>
    <title>RailsPrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="grid-container">
      <nav >
        <ul class ="grid-nav">
          <li class="home-button"><%= button_to "Home", root_path , method: :get %></li>
          <% if user_signed_in? %>
            <div class="right">
              <li><%= button_to "Profile", user_path(current_user) , method: :get%></li>
              <li><%= button_to "Sign Out", destroy_user_session_path , method: :delete%></li>
            </div>
          <% else %>
            <div class="right">
              <li><%= button_to "Sign in", new_user_session_path , method: :get %></li>
              <li><%= button_to "Sign up", new_user_registration_path , method: :get%></li>
            </div>
          <% end %>
        </ul>
      </nav>
      <div class="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="content">
        <%= yield %>
      </div>
      <footer>
        <p>Created by Bernard Maximiliano</p>
      </footer>
    </div>
  </body>
</html>
